.contenedor {
    max-height: 500%;
    width: auto;
    text-align: center;
    

}

.opciones {
    max-height: 10000%;
    width: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin: center;
    text-align: center;
    
    
}

